* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    background-color: #475569;
    background-image: radial-gradient(whitesmoke, #475569);
    display: flex;
    flex-direction: column;
}

header,
nav,
main,
footer {
    display: grid;
    place-content: center;

}

header,
footer {
    position: sticky;
    background-color: #1E293B;
    color: whitesmoke;
}

/* || SMALL */
@media screen and (min-width:576px) {
    body{
        background-color: green;
        background-image: radial-gradient(whitesmoke, green);
    }
    nav{
        display: none;
    }
    
}
/* || MEDIUM */
@media screen and (min-width:768px) {
    body{
        background-color: gold;
        background-image: radial-gradient(whitesmoke, gold);
    }
 
    
    
}
/* || LARGE */
@media screen and (min-width:1024px) {
    body{
        background-color:firebrick;
        background-image: radial-gradient(whitesmoke, firebrick);
    }
  
    
}
/* || XL */
@media screen and (min-width:1200px) {
    body{
        background-color: rebeccapurple;
        background-image: radial-gradient(whitesmoke, rebeccapurple);
    }
 
    
    
}